@tailwind base;
@tailwind components;
@tailwind utilities;


/* for the hover on full screen */
/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */
* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url('@/assets/background.jpg');
  background-repeat: repeat-y; /* Repeat vertically */
  background-size: 100% auto; /* Set width to 100% and height to auto */
  background-position: center; /* Adjust as needed */
}

h1 {
  font-weight: bold;
  font-size: 80px;
  color: #a37cf0;
}

h2 {
  font-weight: bold;
  font-size: xx-large;
  color: black;
}

h5 {
  color:#a37cf0;
  font-size: large;
  font-weight: 600;
}

.line hr {
  border: none;
  height: 4px;
  background-color: white;
  border-radius: 6px;
}

.pictureHero { 
  box-shadow: 0 0 13px #a37cf0;
  border-radius: 6px;
}

@media (max-width:800px) {
  h1 {
    font-size: 40px;
  }
  h5 {
    font-size: medium;
  }
  h2 {
    font-size: x-large;
  }
}

